*{
    font-family: 'Raleway', sans-serif;
}
body{
    overflow-x: hidden;
}
.container-fluid{
    margin-top:30px;
}
.back{
    display: inline;
    margin-left:1200px;
}
.container-fluid .text1{
    margin-left:20px;
}
.back a{
    color:#14274E;
    font-size:15px;
    text-decoration: none;
}
.main-container{
    display: inline-block;
    margin-left:30px;
    margin-top:20px;
    margin-bottom:40px;
}
.main-container .img{
    margin-left:50px;
}
.main-container .text{
    margin-top:20px;
    margin-right:20px;
}
.main-container .text h3{
    font-size:30px;
}
.main-container .text button{
    border:0;
    padding:5px;
    border-radius:10px;
    background-color:#14274E;
    margin-top:10px;
}
.main-container .text button a{
    color:white;
    font-size:20px;
    text-decoration: none;
}
.second-page{
    display: inline-block;
    margin:100px;
}
.second-page .list{
    background-color: #14274E;
    padding:15px;
    border-radius:10px;
    font-size:20px;
}
.second-page .list li{
    color:white;
    text-decoration: none;
    padding:20px;
}
.second-page .text {
    margin-top:30px;
    font-size:15px;
}
.second-page .text button{
    border:0;
    padding:5px;
    border-radius:10px;
    background-color:#394867;
    margin-top:10px;
}
.second-page .text button a{
    color:white;
    text-decoration: none;
    padding:20px;
}
@media screen and (max-width:1300px){
    .back{
        display:none;
    }
}
@media screen and (max-width:992px){
    .main-container img{
        width:300px;
        height:200px;
    }
    .second-page .list{
        text-align: center;
        margin-top:40px;
        background-color: #14274E;
        padding:20px;
    }
}